Repository Char2sGu/layout-projection: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:prettier

lint:eslint:
  run: npx eslint --cache --fix {staged_files}

lint:prettier:
  run: npx prettier --write {staged_files}

feat(core): rename node to projection node
  packages/angular/src/layout-animation-entry.directive.ts
  packages/angular/src/layout-animation-scope-registrar.directives.ts
  packages/angular/src/layout-animation-scope.directive.ts
  packages/angular/src/layout-animation-trigger.directive.ts
  packages/angular/src/layout-projection.module.ts
  packages/angular/src/projection-node.directive.ts
  packages/angular/src/public-api.ts
  packages/core/src/animation-engines.ts
  packages/core/src/animation.ts
  packages/core/src/index.ts
  packages/core/src/measure.ts
  packages/core/src/projection.ts
  packages/core/src/snapshot.ts
Due: lint:eslint, lint:prettier

test: use jsdom as test environment
  jest.config.base.js
  package-lock.json
  package.json
  packages/core/jest.config.cjs
Due: lint:prettier

fix(angular): fix layout animation config type
  packages/angular/src/layout-animation-entry.directive.ts
Due: lint:eslint, lint:prettier

build: release v0.7.1
  package-lock.json
  packages/angular/package.json
  packages/core/package.json
Due: lint:prettier

fix(angular): pass missing animation config items
  packages/angular/src/layout-animation-entry.directive.ts
Due: lint:eslint, lint:prettier

build: release v0.7.2
  package-lock.json
  packages/angular/package.json
  packages/core/package.json
Due: lint:prettier

feat(angular): return animation refs from directive methods
  packages/angular/src/layout-animation-entry.directive.ts
  packages/angular/src/layout-animation-trigger.directive.ts
Due: lint:eslint, lint:prettier

feat(angular): expose output events in animation trigger
  packages/angular/src/layout-animation-trigger.directive.ts
Due: lint:eslint, lint:prettier

feat(angular): prevent potential memory leaking
  packages/angular/src/layout-animation-scope-registrar.directives.ts
  packages/angular/src/layout-animation-scope.directive.ts
  packages/angular/src/shared/map.ts
Due: lint:eslint, lint:prettier

build: add release scripts
  package.json
Due: lint:prettier

build: release v0.8.0
  package-lock.json
  package.json
  packages/angular/package.json
  packages/core/package.json
Due: lint:prettier

chore(angular): rename angular-app to angular-examples
  package-lock.json
  package.json
  packages/angular-app/src/app/app.component.ts
  packages/angular-examples/.gitignore
  packages/angular-examples/angular.json
  packages/angular-examples/package.json
  packages/angular-examples/src/app/app.component.ts
  packages/angular-examples/src/app/app.module.ts
  packages/angular-examples/src/app/basic.example.ts
  packages/angular-examples/src/app/tabs.example.ts
  packages/angular-examples/src/index.html
  packages/angular-examples/src/main.ts
  packages/angular-examples/src/styles.css
  packages/angular-examples/tsconfig.json
Due: lint:eslint, lint:prettier

chore: rename tsconfigs
  package.json
  packages/angular-examples/tsconfig.json
  packages/angular/tsconfig.json
  packages/core/tsconfig.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: lint:prettier

build: add build:watch scripts
  package.json
  packages/angular/package.json
Due: lint:prettier

chore: fix eslint tsconfig path
  .eslintrc
Due: none

feat(site): init
  package-lock.json
  packages/site/.gitignore
  packages/site/angular.json
  packages/site/package.json
  packages/site/src/app/app.component.css
  packages/site/src/app/app.component.html
  packages/site/src/app/app.component.ts
  packages/site/src/app/app.module.ts
  packages/site/src/index.html
  packages/site/src/main.ts
  packages/site/src/styles.css
  packages/site/tsconfig.json
Due: lint:eslint, lint:prettier

feat(angular-examples): restructure into a library
  package-lock.json
  packages/angular-examples/.gitignore
  packages/angular-examples/angular.json
  packages/angular-examples/ng-package.json
  packages/angular-examples/package.json
  packages/angular-examples/src/app/app.component.ts
  packages/angular-examples/src/app/app.module.ts
  packages/angular-examples/src/basic.example.ts
  packages/angular-examples/src/index.html
  packages/angular-examples/src/main.ts
  packages/angular-examples/src/public-api.ts
  packages/angular-examples/src/styles.css
  packages/angular-examples/src/tabs.example.ts
  packages/angular-examples/tsconfig.json
Due: lint:eslint, lint:prettier

refactor(angular-examples): use `ex` as selector prefix of example components
  packages/angular-examples/src/basic.example.ts
  packages/angular-examples/src/tabs.example.ts
Due: lint:eslint, lint:prettier

build: fix dep versions
  package-lock.json
  package.json
  packages/angular/package.json
  packages/site/package.json
Due: lint:prettier

feat(angular-examples): split into multiple entries
  packages/angular-examples/basic/ng-package.json
  packages/angular-examples/package.json
  packages/angular-examples/src/basic/basic.example.ts
  packages/angular-examples/src/basic/public-api.ts
  packages/angular-examples/src/public-api.ts
  packages/angular-examples/src/tabs/public-api.ts
  packages/angular-examples/src/tabs/tabs.example.ts
  packages/angular-examples/tabs/ng-package.json
Due: lint:eslint, lint:prettier

feat(site): add cli build config
  packages/site/angular.json
  packages/site/package.json
  packages/site/src/app/app.component.html
  packages/site/src/app/app.component.ts
Due: lint:eslint, lint:prettier

feat(site): init taiga-ui
  package-lock.json
  packages/site/angular.json
  packages/site/package.json
  packages/site/src/app/app.component.html
  packages/site/src/app/app.component.ts
  packages/site/src/app/app.module.ts
Due: lint:eslint, lint:prettier

chore(site): examine taiga-ui
  package-lock.json
  packages/site/angular.json
  packages/site/package.json
  packages/site/src/app/app-routing.module.ts
  packages/site/src/app/app.component.html
  packages/site/src/app/app.module.ts
  packages/site/src/app/doc/doc-routing.module.ts
  packages/site/src/app/doc/doc.component.css
  packages/site/src/app/doc/doc.component.html
  packages/site/src/app/doc/doc.component.ts
  packages/site/src/app/doc/doc.module.ts
Due: lint:eslint, lint:prettier

build: re-lock dependencies
  package-lock.json
  package.json
Due: lint:prettier

feat(site): make it work
  packages/site/src/app/app-routing.module.ts
  packages/site/src/app/app.component.html
  packages/site/src/app/doc/doc-routing.module.ts
  packages/site/src/app/doc/doc.component.html
  packages/site/src/app/doc/doc.component.ts
  packages/site/src/app/doc/doc.module.ts
  packages/site/src/app/docs/docs-routing.module.ts
  packages/site/src/app/docs/docs.component.css
  packages/site/src/app/docs/docs.component.html
  packages/site/src/app/docs/docs.component.ts
  packages/site/src/app/docs/docs.module.ts
Due: lint:eslint, lint:prettier

refactor(site): use less as default style languages
  packages/site/angular.json
  packages/site/src/app/app.component.css
  packages/site/src/app/app.component.less
  packages/site/src/app/app.component.ts
  packages/site/src/app/docs/docs.component.css
  packages/site/src/app/docs/docs.component.less
  packages/site/src/app/docs/docs.component.ts
  packages/site/src/styles.less
Due: lint:eslint, lint:prettier

chore: update lint script
  package.json
Due: lint:prettier

feat(site): init examples components
  packages/site/src/app/app-routing.module.ts
  packages/site/src/app/app.module.ts
  packages/site/src/app/app.pages.ts
  packages/site/src/app/app.title-strategy.ts
  packages/site/src/app/docs/docs-routing.module.ts
  packages/site/src/app/docs/docs.component.html
  packages/site/src/app/docs/docs.component.ts
  packages/site/src/app/docs/docs.module.ts
  packages/site/src/app/examples/example-basic/example-basic.component.html
  packages/site/src/app/examples/example-basic/example-basic.component.less
  packages/site/src/app/examples/example-basic/example-basic.component.ts
  packages/site/src/app/examples/example-tabs/example-tabs.component.html
  packages/site/src/app/examples/example-tabs/example-tabs.component.less
  packages/site/src/app/examples/example-tabs/example-tabs.component.ts
  packages/site/src/app/examples/examples-routing.module.ts
  packages/site/src/app/examples/examples.component.html
  packages/site/src/app/examples/examples.component.less
  packages/site/src/app/examples/examples.component.ts
  packages/site/src/app/examples/examples.module.ts
  packages/site/src/app/examples/examples.pages.ts
Due: lint:eslint, lint:prettier

feat(site): implement basic example draft
  packages/site/angular.json
  packages/site/src/app/examples/example-basic/example-basic.component.html
  packages/site/src/app/examples/example-basic/example-basic.component.less
  packages/site/src/app/examples/example-basic/example-basic.component.ts
  packages/site/src/app/examples/examples.module.ts
Due: lint:eslint, lint:prettier

feat(angular-examples): separate example into multiple files
  packages/angular-examples/src/basic/basic.example.html
  packages/angular-examples/src/basic/basic.example.less
  packages/angular-examples/src/basic/basic.example.ts
  packages/angular-examples/src/tabs/tabs.example.html
  packages/angular-examples/src/tabs/tabs.example.less
  packages/angular-examples/src/tabs/tabs.example.ts
Due: lint:eslint, lint:prettier

feat(site): implement examples
  packages/angular-examples/src/basic/basic.example.html
  packages/angular-examples/src/basic/basic.example.ts
  packages/site/angular.json
  packages/site/src/app/app.module.ts
  packages/site/src/app/examples/example-basic/example-basic.component.html
  packages/site/src/app/examples/example-basic/example-basic.component.less
  packages/site/src/app/examples/example-basic/example-basic.component.ts
  packages/site/src/app/examples/example-tabs/example-tabs.component.html
  packages/site/src/app/examples/example-tabs/example-tabs.component.less
  packages/site/src/app/examples/example-tabs/example-tabs.component.ts
  packages/site/src/app/examples/examples.module.ts
  packages/site/src/app/examples/shared/example-loader.service.ts
  packages/site/src/app/examples/shared/example.component.ts
  packages/site/src/styles.less
Due: lint:eslint, lint:prettier

refactor(angular-examples): use shadow dom
  packages/angular-examples/src/basic/basic.example.ts
  packages/angular-examples/src/tabs/tabs.example.ts
Due: lint:eslint, lint:prettier

feat(site): update logo
  package-lock.json
  packages/site/src/app/app.module.ts
  packages/site/src/app/core/logo/logo.component.html
  packages/site/src/app/core/logo/logo.component.less
  packages/site/src/app/core/logo/logo.component.ts
  packages/site/src/app/core/logo/logo.polymorphic.ts
Due: lint:eslint, lint:prettier

build(site): remove unused dep
  package-lock.json
  packages/site/package.json
  packages/site/src/app/app.module.ts
Due: lint:eslint, lint:prettier

chore: update scripts
  package.json
  packages/site/package.json
Due: lint:prettier

build(site): add deployment support
  README.md
  package-lock.json
  packages/site/angular.json
  packages/site/package.json
Due: lint:prettier

feat(angular-examples): add example container
  packages/angular-examples/container/ng-package.json
  packages/angular-examples/src/container/container.example.html
  packages/angular-examples/src/container/container.example.less
  packages/angular-examples/src/container/container.example.ts
  packages/angular-examples/src/container/public-api.ts
Due: lint:eslint, lint:prettier

feat(site): add example container
  packages/site/src/app/examples/example-container/example-container.component.html
  packages/site/src/app/examples/example-container/example-container.component.less
  packages/site/src/app/examples/example-container/example-container.component.ts
  packages/site/src/app/examples/examples-routing.module.ts
  packages/site/src/app/examples/examples.module.ts
  packages/site/src/app/examples/examples.pages.ts
Due: lint:eslint, lint:prettier

fix(core): include root node in estimation
  packages/core/src/animation.ts
Due: lint:eslint, lint:prettier

Path conditions:
  lint:eslint: any of: *.ts
  lint:prettier: any of: *.{html,css,less,scss,sass,ts,js,json,md}
