Repository Char2sGu/layout-projection: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:prettier

lint:eslint:
  run: npx eslint --cache --fix {staged_files}

lint:prettier:
  run: npx prettier --write {staged_files}

wip(core): composition api update
  packages/core/src/animation.ts
  packages/core/src/distortion.ts
  packages/core/src/ext/border-radius.ts
  packages/core/src/measure.ts
  packages/core/src/projection.ts
  packages/core/src/shared.ts
Due: lint:eslint, lint:prettier

style: un-ban type "Function"
  .eslintrc
Due: none

wip(core): redesign snapshot api
  packages/angular/src/layout-animation-entry.directive.ts
  packages/core/src/animation.ts
  packages/core/src/ext/border-radius.ts
  packages/core/src/snapshot.ts
Due: lint:eslint, lint:prettier

wip(core): distribute css.ts and measure.ts
  packages/core/src/animation.ts
  packages/core/src/css.ts
  packages/core/src/ext/border-radius.spec.ts
  packages/core/src/ext/border-radius.ts
  packages/core/src/index.ts
  packages/core/src/measure.ts
  packages/core/src/projection.ts
  packages/core/src/shared.ts
  packages/core/src/snapshot.ts
Due: lint:eslint, lint:prettier

feat(core): prevent duplicate node identification
  packages/core/src/projection.ts
Due: lint:eslint, lint:prettier

feat(core): reorganize symbols
  packages/core/src/animation-core.ts
  packages/core/src/animation-engines.ts
  packages/core/src/animation.ts
  packages/core/src/components/border-radius.spec.ts
  packages/core/src/components/border-radius.ts
  packages/core/src/index.ts
  packages/core/src/projection-core.ts
  packages/core/src/projection.ts
Due: lint:eslint, lint:prettier

build(core): exports components as sub modules
  packages/core/package.json
  packages/core/src/animation.ts
Due: lint:eslint, lint:prettier

feat(core): make `ProjectionComponent` generic type optional
  packages/core/src/projection.ts
Due: lint:eslint, lint:prettier

style: remove "@typescript-eslint/method-signature-style" rule
  .eslintrc
Due: none

feat(core): update snapshot api
  packages/core/src/animation.ts
  packages/core/src/index.ts
  packages/core/src/snapshot.ts
Due: lint:eslint, lint:prettier

feat: sync with the latest core package
  packages/angular/src/layout-animation-entry.directive.ts
  packages/angular/src/layout-animation-trigger.directive.ts
  packages/angular/src/layout-projection.module.ts
  packages/angular/src/projection-node.directive.ts
  packages/core/src/snapshot.ts
  packages/site/src/app/core/nav-menu/nav-menu.component.ts
  packages/site/src/app/shared/fix-layout-on-destroy.directive.ts
Due: lint:eslint, lint:prettier

feat(angular): allow component configuring through module forRoot
  packages/angular/src/layout-projection.module.ts
Due: lint:eslint, lint:prettier

feat(site): switch to activated tab on init
  packages/site/src/app/core/nav-content-activation-detector.service.ts
  packages/site/src/app/core/nav-menu/nav-menu.component.ts
  packages/site/src/app/core/nav/nav.component.ts
Due: lint:eslint, lint:prettier

fix(site): fix header animation state
  packages/site/src/app/app.component.ts
Due: lint:eslint, lint:prettier

build: release v0.14.0
  package-lock.json
  packages/angular/package.json
  packages/core/package.json
Due: lint:prettier

docs: update README url
  README.md
Due: lint:prettier

fix(core): export the border radius component
  packages/core/src/index.ts
Due: lint:eslint, lint:prettier

feat(core): support animating only position or size
  packages/core/src/animation-core.ts
  packages/core/src/animation-engines.ts
  packages/core/src/projection-core.ts
  packages/core/src/projection.ts
Due: lint:eslint, lint:prettier

chore: more jsdoc
  packages/core/src/animation.ts
  packages/core/src/projection.ts
Due: lint:eslint, lint:prettier

feat(angular): animate both size and position by default
  packages/angular/src/projection-node.directive.ts
Due: lint:eslint, lint:prettier

feat(core): make second parameter of ProjectionNode optional
  packages/core/src/projection.ts
Due: lint:eslint, lint:prettier

docs: place core guides before angular guides
  packages/site/src/app/app.nav-content.ts
Due: lint:eslint, lint:prettier

feat(core): rename concept `BoundingBox` to `Layout`
  packages/core/src/animation-engines.ts
  packages/core/src/animation.ts
  packages/core/src/components/border-radius.ts
  packages/core/src/projection-core.ts
  packages/core/src/projection.ts
  packages/site/src/app/shared/fix-layout-on-destroy.directive.ts
Due: lint:eslint, lint:prettier

docs: update
  package-lock.json
  packages/core/README.md
  packages/core/guides/layout-animation.md
  packages/core/guides/layout-projection.md
  packages/site/angular.json
  packages/site/src/app/app.nav-content.ts
  packages/site/src/app/guides/guides-routing.module.ts
  packages/site/src/app/guides/shared/guide-downloader.service.ts
  packages/site/src/content/angular/overview.md
  packages/site/src/content/core/overview.md
Due: lint:eslint, lint:prettier

build(deps): prefer root deps
  .npmrc
  package-lock.json
  package.json
  packages/angular/package.json
  packages/site/package.json
Due: lint:prettier

build: migrate to nx for site project
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/core/package.json
  site/angular.json
  site/project.json
  site/tsconfig.json
Due: lint:prettier

chore: fix ng-packagr schema path
  packages/angular/ng-package.json
Due: lint:prettier

build: bump angular to v18
  migrations.json
  package-lock.json
  package.json
  packages/angular/package.json
  packages/angular/project.json
  packages/core/project.json
  site/project.json
  site/src/app/app.module.ts
  tsconfig.json
Due: lint:eslint, lint:prettier

fixup! build: bump angular to v18
  .gitignore
  package-lock.json
  package.json
  site/package.json
  site/project.json
  site/src/app/app.module.ts
  site/src/app/markdown-elements/markdown-elements.module.ts
  site/src/app/markdown-elements/markdown-elements.renderer.ts
  site/src/app/shared/markdown-article/markdown-article.component.ts
Due: lint:eslint, lint:prettier

build: use nx for core package
  nx.json
  package-lock.json
  package.json
  packages/core/project.json
  tsconfig.base.json
  tsconfig.json
Due: lint:prettier

build: use nx all packages
  .gitignore
  packages/angular/project.json
  packages/angular/tsconfig.json
  site/.gitignore
  site/tsconfig.json
  tsconfig.base.json
Due: lint:prettier

chore: clean up nx configs
  nx.json
  packages/core/project.json
Due: lint:prettier

build: configure nx release
  nx.json
  packages/angular/project.json
  packages/core/project.json
Due: lint:prettier

chore: add changed file to git after pre-commit hook
  lefthook.yaml
Due: none

style: migrate to eslint v9
  .eslintrc
  eslint.config.mjs
  package-lock.json
  package.json
  packages/core/src/snapshot.ts
  site/package.json
  site/src/app/markdown-elements/markdown-elements.renderer.ts
  site/src/main.ts
  site/tsconfig.json
Due: lint:eslint, lint:prettier

chore: add testing nx support
  jest.config.base.mjs
  packages/core/jest.config.cjs
  packages/core/jest.config.mjs
  packages/core/package.json
  packages/core/project.json
Due: lint:prettier

refactor(core): separate projection logic into various files
  packages/core/src/animation-engines.ts
  packages/core/src/animation.ts
  packages/core/src/components/border-radius.ts
  packages/core/src/index.ts
  packages/core/src/layout.ts
  packages/core/src/point.ts
  packages/core/src/projection-component.ts
  packages/core/src/projection-core.ts
  packages/core/src/projection-node.ts
  packages/core/src/snapshot.ts
  packages/core/src/transform.ts
Due: lint:eslint, lint:prettier

feat(core): implement experimental projection node re-design
  packages/core/src/index.ts
  packages/core/src/node.ts
  packages/core/src/projection-node-experimental.ts
  packages/core/src/transform.ts
Due: lint:eslint, lint:prettier

chore: add playground app
  package.json
  playground/package.json
  playground/project.json
  playground/src/app/app.component.html
  playground/src/app/app.component.scss
  playground/src/app/app.component.ts
  playground/src/app/app.config.ts
  playground/src/app/app.routes.ts
  playground/src/index.html
  playground/src/main.ts
  playground/src/styles.scss
  playground/tsconfig.json
Due: lint:eslint, lint:prettier

Path conditions:
  lint:eslint: any of: *.ts
  lint:prettier: any of: *.{html,css,less,scss,sass,ts,js,json,md}
