Repository Char2sGu/layout-projection: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:prettier

lint:eslint:
  run: npx eslint --cache --fix {staged_files}
  stage_fixed: true

lint:prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

build(release): v0.15.0-alpha.3
  package-lock.json
  packages/angular/package.json
  packages/animation/package.json
  packages/core/package.json
Due: lint:prettier

feat(native): init package
  packages/native/README.md
  packages/native/jest.config.mjs
  packages/native/package.json
  packages/native/project.json
  packages/native/src/index.ts
  packages/native/tsconfig.json
Due: lint:eslint, lint:prettier

docs: update
  packages/angular/guides/quick-start.md
  packages/angular/setup/src/provide.ts
Due: lint:eslint, lint:prettier

build: update site deploy script
  package.json
  site/package.json
  site/project.json
Due: lint:prettier

Auto-generated commit
  404.html
  index.html
Due: lint:prettier

docs: update readme
  README.md
Due: lint:prettier

docs: update slogan
  README.md
Due: lint:prettier

docs: restructure site assets
  site/project.json
  site/src/app/app.module.ts
  site/src/app/core/guide.ts
  site/src/app/guides/shared/guide-downloader.service.ts
Due: lint:eslint, lint:prettier

docs: restructure site contents
  site/src/app/app.nav-content.ts
Due: lint:eslint, lint:prettier

docs: remove guides/ path prefix
  site/src/app/app-routing.module.ts
  site/src/app/core/nav-content-activation-detector.service.ts
  site/src/app/core/nav-menu/nav-menu.component.html
Due: lint:eslint, lint:prettier

docs: implement automatic default page redirect
  site/src/app/guides/guides-routing.module.ts
Due: lint:eslint, lint:prettier

Auto-generated commit
  404.html
  assets/packages/angular/README.md
  assets/packages/angular/guides/animating-layout.md
  assets/packages/angular/guides/customizing-setup.md
  assets/packages/angular/guides/defining-metadata.md
  assets/packages/angular/guides/quick-start.md
  assets/packages/angular/guides/tracking-layout.md
  assets/packages/animation/README.md
  assets/packages/animation/guides/animators.md
  assets/packages/animation/guides/handlers-and-metadata.md
  assets/packages/animation/guides/snapshots.md
  assets/packages/core/README.md
  assets/packages/core/guides/applying-behaviors.md
  assets/packages/core/guides/authoring-behaviors.md
  assets/packages/core/guides/performing-projections.md
  assets/packages/core/guides/projection-tree.md
  chunk-E6TX76MJ.js
  chunk-FGL44AGO.js
  chunk-MKEAPLSL.js
  chunk-RA2C2RDG.js
  index.html
  main-IYQTYK32.js
  main-T654NOHC.js
Due: lint:prettier

build: update release script to include changelog generation
  scripts/release.mjs
Due: none

feat(animation): add method `resolved` to `AnimationRef`
  packages/animation/src/animation-ref.ts
  packages/animation/src/animation-refs.ts
Due: lint:eslint, lint:prettier

build(release): v0.15.0
  CHANGELOG.md
  package-lock.json
  packages/angular/package.json
  packages/animation/package.json
  packages/core/package.json
  packages/native/package.json
Due: lint:prettier

feat(animation): replace node/tree animators with `ProjectionAnimator` to support nested parallel animation
  packages/animation/src/index.ts
  packages/animation/src/projection-animation-handler.ts
  packages/animation/src/projection-animation-handlers.ts
  packages/animation/src/projection-animator.ts
  packages/animation/src/projection-animators.ts
  packages/animation/src/projection-node-animator.ts
  packages/animation/src/projection-node-animators.ts
  packages/animation/src/projection-node-snapshot-factories.ts
  packages/animation/src/projection-tree-animator.ts
  packages/animation/src/projection-tree-animators.ts
Due: lint:eslint, lint:prettier

docs(angular): update metadata docs
  packages/angular/src/layout-node-metadata.ts
Due: lint:eslint, lint:prettier

feat(angular): adapt animation updates and make each node individually animatable
  packages/angular/setup/src/provide.ts
  packages/angular/src/debugging.ts
  packages/angular/src/layout-animator.ts
  packages/angular/src/layout-node-animator.ts
  packages/angular/src/layout-node.ts
  packages/angular/src/projection-node-proxy.ts
  packages/angular/src/public-api.ts
  packages/angular/src/snapshot-storage.ts
Due: lint:eslint, lint:prettier

build: allow angular dev server access to other packages
  tsconfig.base.json
Due: lint:prettier

chore: update playground
  playground/src/app/adapter-metadata/adapter-metadata.component.html
  playground/src/app/adapter-metadata/adapter-metadata.component.ts
  playground/src/app/adapter-nested-elements/adapter-nested-elements.component.html
  playground/src/app/adapter-nested-elements/adapter-nested-elements.component.scss
  playground/src/app/adapter-nested-elements/adapter-nested-elements.component.ts
  playground/src/app/adapter-single-element/adapter-single-element.component.html
  playground/src/app/app.routes.ts
  playground/src/app/core-same-elements/core-same-elements.component.ts
  playground/src/app/core-shared-element/core-shared-elements.component.html
  playground/src/app/core-shared-element/core-shared-elements.component.scss
  playground/src/app/core-shared-element/core-shared-elements.component.ts
Due: lint:eslint, lint:prettier

feat(angular): support shared element animation
  packages/angular/src/layout-node-animator.ts
  playground/src/app/adapter-shared-element/adapter-shared-elements.component.html
  playground/src/app/adapter-shared-element/adapter-shared-elements.component.scss
  playground/src/app/adapter-shared-element/adapter-shared-elements.component.ts
  playground/src/app/app.routes.ts
Due: lint:eslint, lint:prettier

feat(angular): make animator share the same selector `[layout]`
  packages/angular/src/layout-node-animator.ts
  packages/angular/src/layout-node.ts
  playground/src/app/adapter-metadata/adapter-metadata.component.html
  playground/src/app/adapter-nested-elements/adapter-nested-elements.component.html
  playground/src/app/adapter-shared-element/adapter-shared-elements.component.html
  playground/src/app/adapter-single-element/adapter-single-element.component.html
Due: lint:eslint, lint:prettier

feat(angular): add animation events to `LayoutNodeAnimator`
  packages/angular/src/layout-node-animator.ts
Due: lint:eslint, lint:prettier

site: adapt package changes
  packages/angular/src/debugging.ts
  packages/angular/src/layout-node-animator.ts
  site/src/app/app.module.ts
  site/src/app/core/nav-menu/nav-menu.component.ts
  site/src/app/core/nav-tabs/nav-tabs.component.ts
  site/src/app/guides/guides.module.ts
  site/src/app/shared/rerender-on-change.directive.ts
Due: lint:eslint, lint:prettier

refactor(animation): remove unused `AggregationAnimationRef`
  packages/animation/src/animation-refs.ts
Due: lint:eslint, lint:prettier

feat(animation): add `progress()` to animation ref
  packages/animation/src/animation-ref.ts
  packages/animation/src/animation-refs.ts
  packages/animation/src/projection-animators.ts
Due: lint:eslint, lint:prettier

feat(animation): add `config()` to animation ref
  packages/animation/src/animation-ref.ts
  packages/animation/src/animation-refs.ts
  packages/animation/src/projection-animator.ts
  packages/animation/src/projection-animators.ts
Due: lint:eslint, lint:prettier

feat(animation): implement animation continuing on overlapping animations
  packages/angular/src/layout-node-animator.ts
  packages/animation/src/projection-animator.ts
  packages/animation/src/projection-animators.ts
  site/src/app/core/nav-menu/nav-menu.component.ts
  site/src/app/core/nav-tabs/nav-tabs.component.ts
Due: lint:eslint, lint:prettier

feat(core): throw error if node is measured while projected
  packages/core/src/projection-node.ts
Due: lint:eslint, lint:prettier

fix(angular): avoid emitting events after directive destroy
  packages/angular/src/layout-node-animator.ts
Due: lint:eslint, lint:prettier

perf(angular): avoid excessive resetting and measuring
  packages/angular/src/layout-node-animator.ts
Due: lint:eslint, lint:prettier

refactor(animation): clean up animator implementation
  packages/animation/src/projection-animator.ts
  packages/animation/src/projection-animators.ts
Due: lint:eslint, lint:prettier

chore: update playground
  playground/src/app/adapter-shared-element/adapter-shared-elements.component.html
  playground/src/app/core-same-elements/core-same-elements.component.ts
  playground/src/app/core-shared-element/core-shared-elements.component.ts
Due: lint:eslint, lint:prettier

chore: add perf optimization todo
  packages/animation/src/projection-animators.ts
Due: lint:eslint, lint:prettier

feat(core): support stopping node traversal
  packages/core/src/node-behavior.ts
  packages/core/src/node.ts
Due: lint:eslint, lint:prettier

refactor(angular): avoid depending on `LayoutNode` in the metadata directive
  packages/angular/src/layout-node-metadata.ts
Due: lint:eslint, lint:prettier

docs: update jsdoc
  packages/angular/src/layout-node-animator.ts
  packages/animation/src/projection-animation-handlers.ts
Due: lint:eslint, lint:prettier

style(eslint): disable rule "no-void"
  eslint.config.mjs
Due: none

fix(angular): fix traversal type error
  packages/angular/src/layout-node-animator.ts
  playground/src/app/core-same-elements/core-same-elements.component.ts
Due: lint:eslint, lint:prettier

Path conditions:
  lint:eslint: any of: *.ts
  lint:prettier: any of: *.{html,css,less,scss,sass,ts,js,json,md}
