Repository Char2sGu/layout-projection: changes, and which lefthook commands are due for each by the changed paths.
All: lint:eslint, lint:prettier

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:eslint:
      glob: '*.ts'
      run: npx eslint --cache --fix {staged_files}
      stage_fixed: true
    lint:prettier:
      glob: '*.{html,css,less,scss,sass,ts,js,json,md}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat(core): create equatable interface and make layout and measurement equatable
  packages/core/src/equatable.ts
  packages/core/src/layout.ts
  packages/core/src/projection-node.ts
Due: lint:eslint, lint:prettier

feat(core): make coordinate equatable
  packages/core/src/coordinate.ts
Due: lint:eslint, lint:prettier

feat(core): redesign layout class
  packages/animation/src/projection-node-animation-handlers.ts
  packages/core/src/behaviors/border-radius/measure.behavior.ts
  packages/core/src/behaviors/border-radius/measurer.ts
  packages/core/src/layout.ts
  packages/core/src/projection-node.ts
  playground/src/app/core-projection/core-projection.component.ts
  site/src/app/shared/fix-layout-on-destroy.directive.ts
Due: lint:eslint, lint:prettier

feat(core): extract helper `createInjectiveInstanceFactory`
  packages/core/src/behaviors/border-radius/calibrate.behavior.ts
  packages/core/src/behaviors/border-radius/measure.behavior.ts
  packages/core/src/injective-instance-factory.ts
Due: lint:eslint, lint:prettier

feat(core): move transform methods from layout to a separate module
  packages/core/src/layout-transform.ts
  packages/core/src/layout.ts
  packages/core/src/projection-node.ts
Due: lint:eslint, lint:prettier

feat(core): save the current measurement into projection info
  packages/core/src/projection-node.ts
Due: lint:eslint, lint:prettier

docs(core): update docs for behaviors
  packages/core/src/node-behavior.ts
  packages/core/src/projection-node-behavior.ts
Due: lint:eslint, lint:prettier

feat(core): add missing index.ts exports
  packages/core/src/index.ts
Due: lint:eslint, lint:prettier

perf(core): return `LazyMappedReadonlySet` from `NodeBehavior.children()`
  packages/core/src/node-behavior.ts
Due: lint:eslint, lint:prettier

test(core): add some tests
  packages/core/project.json
  packages/core/src/node-behavior.spec.ts
Due: lint:eslint, lint:prettier

feat(core): make border radius measurement equatable
  packages/core/src/behaviors/border-radius/config.ts
  packages/core/src/behaviors/border-radius/measure.behavior.ts
  packages/core/src/behaviors/border-radius/measurer.ts
  packages/core/src/behaviors/border-radius/parser.ts
Due: lint:eslint, lint:prettier

feat(core): refine border radius behaviors api
  packages/angular/setup/src/provide.ts
  packages/core/src/behaviors/border-radius/index.ts
  packages/core/src/behaviors/border-radius/measurer.ts
  packages/core/src/behaviors/border-radius/parser.spec.ts
  packages/core/src/behaviors/border-radius/parser.ts
Due: lint:eslint, lint:prettier

feat(angular): add `provideDebuggingMetadataManager`
  packages/angular/src/debugging.ts
Due: lint:eslint, lint:prettier

feat(angular): refine public api
  packages/angular/setup/src/basic-projection-node-factory.ts
  packages/angular/setup/src/css-easing-string-parser.ts
  packages/angular/setup/src/provide.ts
  packages/angular/setup/src/public-api.ts
  packages/angular/src/easing-string-parser.ts
  packages/angular/src/layout-animator.ts
  packages/angular/src/layout-node-metadata.ts
  packages/angular/src/projection-node-factory.ts
  packages/angular/src/public-api.ts
Due: lint:eslint, lint:prettier

docs(angular): update documentation
  packages/angular/src/debugging.ts
  packages/angular/src/layout-node-metadata.ts
  packages/angular/src/layout-node.ts
  packages/angular/src/projection-node-factory.ts
Due: lint:eslint, lint:prettier

feat(animation): refine the public api
  packages/animation/src/animation-refs.ts
  packages/animation/src/easing-function.ts
  packages/animation/src/metadata.ts
  packages/animation/src/projection-node-animation-handler.ts
  packages/animation/src/projection-node-animation-handlers.ts
  packages/animation/src/projection-node-animator.ts
  packages/animation/src/projection-node-animators.ts
  packages/animation/src/projection-node-snapshot-factories.ts
  packages/animation/src/projection-node-snapshot.ts
  packages/animation/src/projection-tree-animator.ts
  packages/animation/src/projection-tree-animators.ts
Due: lint:eslint, lint:prettier

fixup! feat(animation): refine the public api
  packages/angular/src/layout-animator.ts
  packages/angular/src/layout-node-metadata.ts
  packages/angular/src/layout-node.ts
Due: lint:eslint, lint:prettier

feat(core): add helper `isEqual`
  packages/core/src/behaviors/border-radius/config.ts
  packages/core/src/coordinate.ts
  packages/core/src/equality.ts
  packages/core/src/equatable.ts
  packages/core/src/index.ts
  packages/core/src/layout.ts
  packages/core/src/projection-node.ts
Due: lint:eslint, lint:prettier

feat(core): implement Equatable for `ProjectionNodeSnapshot`
  packages/animation/src/projection-node-snapshot-factories.ts
  packages/animation/src/projection-node-snapshot.ts
Due: lint:eslint, lint:prettier

feat(angular): use equatable interface to check equality
  packages/angular/src/layout-animator.ts
Due: lint:eslint, lint:prettier

chore: fix build issues
  packages/angular/setup/src/css-easing-string-parser.ts
  packages/angular/setup/src/provide.ts
  playground/src/app/adapter-metadata/adapter-metadata.component.ts
  playground/src/app/adapter-single-element/adapter-single-element.component.ts
  playground/src/app/app.config.ts
Due: lint:eslint, lint:prettier

fix(core): fix problematic layout static factory
  packages/core/src/layout.ts
Due: lint:eslint, lint:prettier

build: add new release script
  nx.json
  package-lock.json
  package.json
  scripts/release.mjs
Due: lint:prettier

build(release): v0.15.0-alpha.0
  package-lock.json
  packages/angular/package.json
  packages/animation/package.json
  packages/core/package.json
Due: lint:prettier

docs: add under-construction note
  README.md
Due: lint:prettier

docs: update readme
  README.md
Due: lint:prettier

docs: update readmes
  README.md
  packages/angular/README.md
  packages/animation/README.md
  packages/core/README.md
Due: lint:prettier

build: use Ivy partial compile for angular adapter
  packages/angular/tsconfig.json
Due: lint:prettier

build: publish after bumping version in release.mjs
  scripts/release.mjs
Due: none

build: use public access when releasing
  scripts/release.mjs
Due: none

build(release): v0.15.0-alpha.1
  package-lock.json
  packages/angular/package.json
  packages/animation/package.json
  packages/core/package.json
Due: lint:prettier

feat(angular): provide the `Node` token too
  packages/angular/src/layout-node.ts
Due: lint:eslint, lint:prettier

feat(angular): allow identifying via "layout" attribute
  packages/angular/src/layout-node.ts
  playground/src/app/adapter-single-element/adapter-single-element.component.html
  playground/src/app/adapter-single-element/adapter-single-element.component.scss
Due: lint:eslint, lint:prettier

feat(angular): make `layout` higher priority than `id`
  packages/angular/src/layout-node.ts
Due: lint:eslint, lint:prettier

docs(animation): add metadata manager example
  packages/animation/src/metadata.ts
Due: lint:eslint, lint:prettier

build(release): v0.15.0-alpha.2
  package-lock.json
  packages/angular/package.json
  packages/animation/package.json
  packages/core/package.json
Due: lint:prettier

feat(animation): create node lazily to support dynamic id
  packages/angular/src/layout-node-metadata.ts
  packages/angular/src/layout-node.ts
Due: lint:eslint, lint:prettier

docs: init outline
  packages/angular/README.md
  packages/angular/guides/animating-layout.md
  packages/angular/guides/animation-directives.md
  packages/angular/guides/animation-scope.md
  packages/angular/guides/customizing-setup.md
  packages/angular/guides/defining-metadata.md
  packages/angular/guides/projection-tree.md
  packages/angular/guides/quick-start.md
  packages/angular/guides/tracking-layout.md
  packages/animation/README.md
  packages/animation/guides/animators.md
  packages/animation/guides/handlers-and-metadata.md
  packages/animation/guides/snapshots.md
  packages/core/README.md
  packages/core/guides/applying-behaviors.md
  packages/core/guides/authoring-behaviors.md
  packages/core/guides/layout-animation.md
  packages/core/guides/layout-projection.md
  packages/core/guides/performing-projections.md
  packages/core/guides/projection-tree.md
  packages/core/guides/snapshots.md
  packages/core/guides/standalone-usage.md
  site/project.json
  site/src/app/app.nav-content.ts
Due: lint:eslint, lint:prettier
